apiVersion: v1
kind: Service
metadata:
  name: employee-service
  namespace: billme-platform
  labels:
    app: employee-service
spec:
  type: ClusterIP
  ports:
    - port: 3006
      targetPort: 3006
      protocol: TCP
  selector:
    app: employee-service
