apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: billme-platform
  labels:
    app: api-gateway
spec:
  type: LoadBalancer
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      nodePort: 30000
  selector:
    app: api-gateway
