apiVersion: v1
kind: Service
metadata:
  name: menu-service
  namespace: billme-platform
  labels:
    app: menu-service
spec:
  type: ClusterIP
  ports:
    - port: 3007
      targetPort: 3007
      protocol: TCP
  selector:
    app: menu-service
