apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: billme-platform
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 3011
      targetPort: 3011
      protocol: TCP
  selector:
    app: notification-service
