apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: billme-platform
  labels:
    app: order-service
spec:
  type: ClusterIP
  ports:
    - port: 3008
      targetPort: 3008
      protocol: TCP
  selector:
    app: order-service
