apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: billme-platform
  labels:
    app: payment-service
spec:
  type: ClusterIP
  ports:
    - port: 3009
      targetPort: 3009
      protocol: TCP
  selector:
    app: payment-service
