apiVersion: v1
kind: Service
metadata:
  name: subscription-service
  namespace: billme-platform
  labels:
    app: subscription-service
spec:
  type: ClusterIP
  ports:
    - port: 3004
      targetPort: 3004
      protocol: TCP
  selector:
    app: subscription-service
