apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: billme-platform
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
  selector:
    app: user-service
